{% extends "layout.html" %}

{% block body %}
<div>
    <h1 id="title"><img id="title_icon" src="../static/images/COUAL.png"
            style="width:45px;height:45px"></img>&nbsp;&nbsp;COUAL
        -Web
        Site Analyzer-</h1>
</div>
<form method="post" action="/send" enctype="multipart/form-data">
    <div id="drag-drop-cover-area" style="background-color: #dcdcdc;">
        <div id="drag-drop-area" style="border-style : dashed;border-color: #a9a9a9;">
            <div class="drag-drop-inside">
                <p class="drag-drop-info">ここにファイルをドロップ</p>
                <p>または</p>
                <p class="drag-drop-buttons"><input id="fileInput" class="file" name="img_file" type="file" value=""
                        name="image"></p>
            </div>
        </div>
    </div>
</form>
<button type=" button" id="analyze" value="色覚判断">色覚判断</button>
<button type=" button" id="gray" value="グレーアウト">グレーアウト</button>
<button type=" button" id="binarization" value="2値化">2値化</button>
<button type=" button" id="canny" value="エッジ検出">エッジ検出</button>
<button type=" button" id="BGR2RGB" value="BGR→RGB">BGR→RGB</button>
<!--<div id="color_editor">
    変更前の色<br>
    <span style="float: left;">
        変更後の色
    </span>
    <div id="target"></div>
    <button type=" button" name="apply_color" value="value">適用</button>
</div>-->
<div id="upload_img_area">
    <fieldset style="border: 1px double #000;">
        <legend style="background-color: #FF0099; border-radius: 5px; color: #ffffff;">
            アップロード画像
        </legend>
        <img id="original" style="width:90%;margin: 20px;"></img>
    </fieldset>
</div>
<div id="analyzed_img_area">
    <fieldset style="border: 1px double #000;">
        <legend style="background-color: #FF0099; border-radius: 5px; color: #ffffff;">
            解析後画像
        </legend>
        <img id="analyzed" style="width:90%;margin: 20px;"></img>
    </fieldset>
</div>
{% endblock %}