<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=shift_jis">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <title>COUAL</title>
  <link rel="shortcut icon" href="static/images/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="stylesheet" href="static/styles/main.css" />
  <link rel="stylesheet" href="static/styles/maintenance.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="static/js/fileUpload.js"></script>
  <script type="text/javascript" src="static/js/axis.js"></script>
  <script type="text/javascript" src="static/js/analyzeImage.js"></script>
  <script type="text/javascript" src="static/js/sidebar.js"></script>
  <script type="text/javascript" src="static/js/maintenance.js"></script>
  <script type="text/javascript" src="static/js/zoom.js"></script>
  <script type="text/javascript" src="static/js/help.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.0.0/velocity.min.js"></script>
</head>

<body>
  <div id="sidebar_div">
    <aside id="sidebar">
      <h1 id="brand-logo">COUAL</h1>
      <div id="global-nav">
        <div>
          <div class="sub-menu side_a_menu"><a>&nbsp;&nbsp;Help</a>
            <div class="sub-menu-nav">
              <div id="help_color_vision" class="can_click_sidebar_menu side_b_menu">
                <a>&nbsp;&nbsp;&nbsp;&nbsp;ColorVision</a></div>
              <div id="help_gray_scale" class="can_click_sidebar_menu side_b_menu">
                <a>&nbsp;&nbsp;&nbsp;&nbsp;GrayScale</a>
              </div>
              <div id="help_binarization" class="can_click_sidebar_menu side_b_menu">
                <a>&nbsp;&nbsp;&nbsp;&nbsp;Binarization</a></div>
              <div id="help_edge_detection" class="can_click_sidebar_menu side_b_menu">
                <a>&nbsp;&nbsp;&nbsp;&nbsp;EdgeDetection</a></div>
              <div id="help_bgr_rgb" class="can_click_sidebar_menu side_b_menu"><a>&nbsp;&nbsp;&nbsp;&nbsp;BGR→RBG</a>
              </div>
              <div id="help_singularity" class="can_click_sidebar_menu side_b_menu">
                <a>&nbsp;&nbsp;&nbsp;&nbsp;SingularityExtraction</a>
              </div>
            </div>
          </div>
          <div class="sub-menu side_a_menu"><a>&nbsp;&nbsp;Setting</a>
            <div class="sub-menu-nav">
              <div class="can_click_sidebar_menu side_b_menu"><a>&nbsp;&nbsp;&nbsp;&nbsp;Language</a></div>
              <div class="can_click_sidebar_menu side_b_menu"><a>&nbsp;&nbsp;&nbsp;&nbsp;BackGround</a></div>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
  <main>
    {% block body %}{% endblock %}
  </main>
  <div class="axis" id="yAxis"></div>
  <div class="axis" id="xAxis"></div>
</body>
<div id="help_area">
  <div id="help_hide">×</div>
  <div id="help_message"></div>
</div>

</html>