html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

main {
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
}

label,
input,
button {
  display: block;
  font-size: 16px;
  margin: 0 0 8px 0;
  width: 100%;
}

form {
  border: 1px solid #444;
  max-width: 100%;
  padding: 20px;
  width: 400px;
}

button {
  background: transparent;
  border: 1px solid #444;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  padding: 4px 0;
}

button:hover {
  background: #444;
  color: #fff;
}

.box18 {
  margin: 2em 0;
  padding: 0.25em 1em;
  border: solid 2px #7856f3;
  border-radius: 3px 0 3px 0;
  right: 5%;
  position: fixed;
}

.box18:before,
.box18:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 2px #7856f3;
  border-radius: 50%;
}

.box18:after {
  top: -12px;
  left: -12px;
}

.box18:before {
  bottom: -12px;
  right: -12px;
}

.box18 p {
  margin: 0;
  padding: 0;
}