html {
  height: 100%;
}

body {
  background-color: #282828;
  height: 100%;
  display: flex;
  margin: 0px
}

main {
  padding-top: 10px;
  width: 90%;
}

#sidebar_div {
  width: 10%;
  background: #404040;
  margin-right: 10px;
}

#sidebar {
  font-size: 16px;
  text-align: left;
  background: #404040;
  color: white;
  position: sticky;
  top: 0px;
  height: 300px;
}

#brand-logo {
  margin-top: 0px;
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
}

.can_click_sidebar_menu:hover {
  background: white;
  color: #585858;
}

.sidebar_menu {
  margin-bottom: 10px;
}

/* image area css start */
#upload_img_area {
  clear: both;
  float: left;
  width: 50%;
}

#analyzed_img_area {
  float: left;
  width: 50%;
}

.image_title {
  background-color: #FF0099;
  border-radius: 5px;
  color: #ffffff;
}

.image_fieldset {
  border: 1px double #000;
}

#original,
#analyzed {
  width: 90%;
  margin: 20px;
}

/* image area css end */
/* Buttom css start */

button,
#submit {
  background: transparent;
  border: 1px solid white;
  color: white;
  background-color: #787878;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 0;
  margin-top: 10px;
  width: 150px;
  height: 30px;
}

button:hover,
#submit:hover {
  background: white;
  color: #585858;
}

/* Buttom css end */
/* file upload area css start */

#drag-drop-cover-area {
  width: 400px;
  border-style: none;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  float: left;
  background-color: #dcdcdc;
}

#drag-drop-area {
  border-style: dashed;
  border-color: #a9a9a9;
}

div.drag-drop-inside {
  margin: 5px;
}

/* file upload area css end */
/* loading gif css start */

#loading {
  display: table;
  width: 20%;
  height: 20%;
  position: fixed;
  top: 40%;
  left: 40%;
  background-color: #fff;
  opacity: 0.8;
  border: double 4px #333;
}

#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: url("../images/loading.gif") center center no-repeat;
}

/* loading gif css end */
/* axis css start */

.axis {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2px;
  height: 2px;
  font-size: 1px;
}

/* axis css end */
/* axis color css start */

#axis_color_area {
  width: 110px;
  height: 140px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 3px double white;
}

#axis_color_choice_area {
  width: 130px;
  height: 100px;
}

#axis_color_seleced {
  width: 105px;
  height: 30px;
  margin-top: 10px;
  border: 2px solid white;
  float: left;
  background-color: #ff3300;
}

.axis_color {
  width: 15px;
  height: 15px;
  margin: 5px;
  border: 1px solid white;
  float: left;
}

/* axis color css end */