form {
  width: 400px;
  border-style: none;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0px;
  float: left;
}

#color_editor {
  border: 1px solid white;
  padding: 10px;
  width: 400px;
  margin-right: 10px;
  float: left;
  color: white;
}

#upload_img_area {
  clear: both;
  float: left;
  width: 50%;
}

#analyzed_img_area {
  float: left;
  width: 50%;
}

/* Bottom css start */
button,
#submit {
  background: transparent;
  border: 1px solid white;
  color: white;
  background-color: #787878;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 0;
  margin-top: 10px;
  width: 350px;
}

button:hover,
#submit:hover {
  background: white;
  color: #585858;
}

/* Bottom css end */

/* Analyze message display area start */
.box18 {
  margin: 2em 0;
  padding: 0.25em 1em;
  border: solid 2px #7856f3;
  border-radius: 3px 0 3px 0;
  right: 5%;
  position: fixed;
}

.box18:before,
.box18:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 2px #7856f3;
  border-radius: 50%;
}

.box18:after {
  top: -12px;
  left: -12px;
}

.box18:before {
  bottom: -12px;
  right: -12px;
}

.box18 p {
  margin: 0;
  padding: 0;
}

/* Analyze message display area end */

/* title display area start */
#title {
  position: relative;
  padding: 0.2em 0.5em;
  background: linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  color: white;
  font-weight: lighter;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
}

/* title display area end */
#drag-drop-cover-area {
  padding: 5px;
}

div.drag-drop-inside {
  margin: 5px;
}

#target {
  float: left;
  margin-left: 10px;
}

#loading {
  display: table;
  width: 20%;
  height: 20%;
  position: fixed;
  top: 40%;
  left: 40%;
  background-color: #fff;
  opacity: 0.8;
  border: double 4px #333;
}

#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: url("../images/loading.gif") center center no-repeat;
}

.Style1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2px;
  height: 2px;
  font-size: 1px;
}